<div>
	<h2>
	  <a href="/teams/<%= team.name %>"><%= team.name %></a>
	</h2>
	<p>
	  <%= team.members %>
	</p>
  <a href="/teams/edit/<%= team.name %>">
    Edit?
  </a>
  <a href="/teams/<%= team.name %>" class="delete-link">
    Delete?
  </a>
</div>
