<div>
	<h2>
	  <a href="/teams/<%= team.name %>"><%= team.name %></a>
	</h2>
	<p>
	  <%= team.members %>
	</p>

	<a href="/teams/<%= team.name %>/edit" class="btn btn-warning">Edit <%= team.name %></a>
	<a id="delete-btn" href="/teams/<%= team.name %>" class="btn btn-danger">Delete <%= team.name %></a>

</div>
